# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zzgeubtldkwaexkbzjoj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_EEmVbOx-FjIOxj6jdM60SA_UKJ8vpjT
SUPABASE_SERVICE_ROLE_KEY=xxxxx

# Anthropic Claude API
ANTHROPIC_API_KEY=sk-ant-xxxi03-xxx-xxx-xxx
